<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AlbaRecord">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="fc5791b03b911bc7efa4d8961a94ae9f" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Boss.EvaluateEmployeeActivity"></activity>
        <activity android:name=".Accept.AcceptActivity" />
        <activity android:name=".login.LoginEmployeeActivity" />
        <activity android:name=".login.LoginEmplyeeActivity" />
        <activity android:name=".Employ.EmployMainActivity" />
        <activity android:name=".Boss.MyEmployeeActivity" />
        <activity android:name=".searchemployee.ShowMoreEmployeeActivity" />
        <activity android:name=".Boss.ShowEmployeeActivity" />
        <activity android:name=".Boss.SearchEmployeeActivity" />
        <activity android:name=".Employ.SalaryActivity" />
        <activity android:name=".login.DaumWebViewActivity" />
        <activity android:name=".login.LoginWayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.EmployeeSignupActivity" />
        <activity android:name=".login.BossSignupActivity" />
        <activity android:name=".login.EmailCheckActivity" />
        <activity android:name=".Boss.BossMainActivity" />
        <activity android:name=".login.FindActivity" />
        <activity android:name=".login.LoginBossActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="990du68u3n" />

        <service android:name=".Notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
         See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/bosswaybutton" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>